---
layout: default
---

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% assign rawcats = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
    {% assign tcats = post.categories | join:'|' | append:'|' %}
	{% assign rawcats = rawcats | append:tcats %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}
{% assign rawcats = rawcats | split:'|' | sort %}

{% comment %}
=======================
The following part removes duplicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% assign categories = "" %}
{% for cat in rawcats %}
	{% if cat != "" %}
		{% if categories == "" %}
			{% assign cat = cat | split:'|' %}
		{% endif %}
		{% unless categories contains cat %}
			{% assign categories = categories | join:'|' | append:'|' | append:cat | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div id="taxonomies">
<a href="javascript:void(0);" title="Show All" class="tax hover" id="show-all"><img src="{{ site.baseurl }}/images/icons/show-all.svg" />Show All</a>
<a href="javascript:void(0);" title="Hide All" class="tax hover" id="hide-all"><img src="{{ site.baseurl }}/images/icons/hide-all.svg" />Hide All</a>
<a href="javascript:void(0);" title="Clear Search" class="tax hover" id="clear-search"><img src="{{ site.baseurl }}/images/icons/clear-search.svg" />Clear Search</a>
<br />
{% assign localAnchor = true %}
{% include taxonomies.html %}
</div>

{% assign posts = site.posts %}
{% assign hidePosts = true %}
{% include posts.html %}

<script>
    (function () {
        var _tagTable = {}, _catTable = {}, _postList = [], _taxonomyList = [], _tagList = [], _catList = [], _visibleTags = [], _visibleCats = [], _searchBar = null;

        // https://stackoverflow.com/a/35306050/4597249
        // Note that object must be an object or array,
        // NOT a primitive value like string, number, etc.
        var _objIdMap = new WeakMap, _objectCount = 0;
        function objectId(object) {
            if (!_objIdMap.has(object)) _objIdMap.set(object, ++_objectCount);
            return _objIdMap.get(object);
        }
        window.addEventListener('load', function () {
            //// parse hash to perform preliminary filter ////
            var taxonomies = document.getElementById("taxonomies");
            parseTaxonomies(taxonomies);
            parsePosts();
            var taxonomyRegexp = /[#_]({{site.tag_prefix}}|{{site.category_prefix}}|{{site.search_prefix}})-([^\s#_]+)/g;

            var searchTerm = null;
            var match;
            while (match = taxonomyRegexp.exec(window.location.hash)) {
                if (match[1] == "{{site.tag_prefix}}")
                    toggleTaxonomy(match[2], null);
                else if (match[1] == "{{site.category_prefix}}")
                    toggleTaxonomy(null, match[2]);
                else if (match[1] == "{{site.search_prefix}}" && !searchTerm)
                    searchTerm = match[2];
            }

            _searchBar = document.getElementById("search-bar");
            if (_searchBar)
                _searchBar.value = searchTerm;

            //// wire up search bar ////
            var searchForm = document.getElementById("search-form");
            if (searchForm) {
                searchForm.onsubmit = function () {
                    var _searchBar = document.getElementById("search-bar");
                    var searchTerm = _searchBar && _searchBar.value;
                    if (searchTerm && !_visibleTags.length && !_visibleCats.length)
                        showAll(); // show all taxonomies if there is a search term, but none are visible to start
                    performFilter();
                    return false;
                };
            }

            //// wire up show all button ////
            var showAllButton = document.getElementById("show-all");
            if (showAllButton) {
                showAllButton.onclick = function() {
                    showAll();
                    performFilter();
                };
            }

            //// wire up hide all button ////
            var hideAllButton = document.getElementById("hide-all");
            if (hideAllButton) {
                hideAllButton.onclick = function() {
                    hideAll();
                    performFilter();
                };
            }

            //// wire up clear search button ////
            var clearSearchButton = document.getElementById("clear-search");
            if (clearSearchButton) {
                clearSearchButton.onclick = function() {
                    _searchBar.value = "";
                    performFilter();
                };
            }

            //// perform start filter ////

            if (searchTerm && !_visibleTags.length && !_visibleCats.length)
                showAll(); // show all taxonomies if there is a search term, but none are visible to start

            performFilter();
        });

        // parse tags/categories for full taxonomies list at top of page
        function parseTaxonomies(baseElem, post) {
            if (!baseElem)
                return;

            var generateClickFunction = function (tagParam, catParam) { // wrap in a function to circumvent hoisting
                return function () {
                    toggleTaxonomy(tagParam, catParam);
                    performFilter();
                };
            };

            var tagElems = baseElem.getElementsByClassName("tag");
            for (var j = 0; j < tagElems.length; j++) {
                var tagElem = tagElems[j];
                tagElem.href = "javascript:void(0);"; // disable href

                if (tagElem) {
                    _taxonomyList.push(tagElem);
                    var tagClass = tagElem.getAttribute("data-slug");
                    tagElem.onclick = generateClickFunction(tagClass, null);

                    if (_tagList.indexOf(tagClass) == -1)
                        _tagList.push(tagClass);
                    var tagPosts = _tagTable[tagClass] = (_tagTable[tagClass] || []);
                    tagPosts.push({ post: post, elem: tagElem });
                }
            }
            var catElems = baseElem.getElementsByClassName("category");
            for (var j = 0; j < catElems.length; j++) {
                var catElem = catElems[j];
                catElem.href = "javascript:void(0);"; // disable href

                if (catElem) {
                    _taxonomyList.push(catElem);
                    var catClass = catElem.getAttribute("data-slug");
                    catElem.onclick = generateClickFunction(null, catClass);

                    if (_catList.indexOf(catClass) == -1)
                        _catList.push(catClass);
                    var catPosts = _catTable[catClass] = (_catTable[catClass] || []);
                    catPosts.push({ post: post, elem: catElem });
                }
            }
        }

        // parse posts and their taxonomies
        function parsePosts() {
            _postList = document.getElementsByClassName("post");
            for (var i = 0; i < _postList.length; i++) {
                var post = _postList[i];
                parseTaxonomies(post, post);
                var postTitle = post.getElementsByClassName("title")[0];
                var postEntry = post.getElementsByClassName("entry")[0];
                post.titleElem = postTitle;
                post.entryElem = postEntry;
            }
        }

        // toggle the given taxonomy (tag or category) on/off and update the list of visible tags/categories
        function toggleTaxonomy(tag, category) {
            if (tag) {
                var tagIndex = _visibleTags.indexOf(tag);
                if (tagIndex == -1)
                    _visibleTags.push(tag);
                else
                    _visibleTags.splice(tagIndex, 1);
            } else if (category) {
                var catIndex = _visibleCats.indexOf(category);
                if (catIndex == -1)
                    _visibleCats.push(category);
                else
                    _visibleCats.splice(catIndex, 1);
            }
        }

        function showAll() {
             // shallow copy lists
                _visibleTags = _tagList.slice(0);
                _visibleCats = _catList.slice(0);
        }

        function hideAll() {
             // clear visible lists
                _visibleTags = [];
                _visibleCats = [];
        }

        // perform filtering and update the hash based on the latest search term and visible taxonomies
        function performFilter() {
            var searchTerm = (_searchBar && _searchBar.value) || null;

            filterBy(_visibleTags, _visibleCats, searchTerm);
            updateHash(_visibleTags, _visibleCats, searchTerm);
        }

        // filter posts and taxonomies by the given tags, categories, and search term
        function filterBy(tags, categories, search) {
            var shownPostsTable = {}, shownTag_catTable = {};
            for (var i = 0; i < tags.length; i++) {
                var tagData = _tagTable[tags[i]];
                if (tagData) {
                    for (var j = 0; j < tagData.length; j++) {
                        var data = tagData[j];
                        if (data.post)
                            shownPostsTable[objectId(data.post)] = data.post;
                        if (data.elem)
                            shownTag_catTable[objectId(data.elem)] = data.elem;
                    }
                }
            }
            for (var i = 0; i < categories.length; i++) {
                var catData = _catTable[categories[i]];
                if (catData) {
                    for (var j = 0; j < catData.length; j++) {
                        var data = catData[j];
                        if (data.post)
                            shownPostsTable[objectId(data.post)] = data.post;
                        if (data.elem)
                            shownTag_catTable[objectId(data.elem)] = data.elem;
                    }
                }
            }

            for (var i = 0; i < _taxonomyList.length; i++) {
                var shownTagCat = shownTag_catTable[objectId(_taxonomyList[i])];
                if (shownTagCat) {
                    _taxonomyList[i].classList.remove("disabled");
                } else {
                    _taxonomyList[i].classList.add("disabled");
                }
            }

            for (var i = 0; i < _postList.length; i++) {
                var shownPost = shownPostsTable[objectId(_postList[i])];
                if (shownPost && (!search || postFilterSuccess(_postList[i], search))) {
                    _postList[i].classList.remove("hidden");
                    _postList[i].classList.add("visible");
                } else {
                    _postList[i].classList.add("hidden");
                    _postList[i].classList.remove("visible");
                }
            }
        }

        // updates the hash in the page's URL to reflect the specified tags, categories, and search term
        function updateHash(tags, cats, search) {
            var tagString = tags && tags.length ? "_{{site.tag_prefix}}-" + tags.join("_t-") : "";
            var catString = cats && cats.length ? "_{{site.category_prefix}}-" + cats.join("_c-") : "";
            var searchString = search ? "_{{site.search_prefix}}-" + search : "";

            var hashString = tagString + catString + searchString;
            window.location.hash = "#" + hashString.substr(1, hashString.length);
        }

        // does the post pass filtering by the specified term?
        function postFilterSuccess(post, term) {
            if (!term)
                return true;

            if (term) {
                var titleMatch = post.titleElem.innerText.toLowerCase().indexOf(term.toLowerCase()) != -1;
                var entryMatch = post.entryElem.innerHTML.toLowerCase().indexOf(term.toLowerCase()) != -1;

                return titleMatch || entryMatch;
            }
        }
    })();
</script>