---
layout: default
---

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% assign rawcats = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
    {% assign tcats = post.categories | join:'|' | append:'|' %}
	{% assign rawcats = rawcats | append:tcats %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}
{% assign rawcats = rawcats | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% assign categories = "" %}
{% for cat in rawcats %}
	{% if cat != "" %}
		{% if categories == "" %}
			{% assign cat = cat | split:'|' %}
		{% endif %}
		{% unless categories contains cat %}
			{% assign categories = categories | join:'|' | append:'|' | append:cat | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div id="sections">
{% assign localAnchor = true %}
{% include sections.html %}
</div>

{% assign posts = site.posts %}
{% assign postStyle = "display: none;" %}
{% include posts.html %}

<script>
    window.onload = function() {
        parseSections();
        parsePosts();
        var sectionRegexp = /#tag-(\S+)|#cat-(\S+)/;
        var match = sectionRegexp.exec(window.location.hash);
        if (match) {
            var tag = match[1];
            var cat = match[2];
            filterBy([tag], [cat]);
        }
    };

    var tagTable = {}, catTable = {}, postList = [], sectionList = [];

    // parse tags/categories for full sections list at top of page
    function parseSections() {
        var sections = document.getElementById("sections");
        var tagElems = sections.getElementsByClassName("tag");
        for(var j = 0; j < tagElems.length; j++) {
            var tagElem = tagElems[j];
            // sectionList.push(tagElem);
            if (tagElem && tagElem.classList && tagElem.classList.length >= 3) {
                var tagClass = tagElem.classList[2];
                // wrap in a function to circumvent hoisting
                var generateClickFunction = function(tagParam) {
                    return function() {
                        //window.scrollTo(0, 0);
                        filterBy([tagParam], null);
                    };
                };
                tagElem.onclick = generateClickFunction(tagClass);
                // var tagPosts = tagTable[tagClass] = (tagTable[tagClass] || []);
                // tagPosts.push({elem: tagElem});
            }
        }
        var catElems = sections.getElementsByClassName("category");
        for(var j = 0; j < catElems.length; j++) {
            var catElem = catElems[j];
            //sectionList.push(catElem);
            if (catElem && catElem.classList && catElem.classList.length >= 3) {
                var catClass = catElem.classList[2];
                // wrap in a function to circumvent hoisting
                var generateClickFunction = function(catParam) {
                    return function() {
                        //window.scrollTo(0, 0);
                        filterBy(null, [catParam]);
                    };
                };
                catElem.onclick = generateClickFunction(catClass);
                // var catPosts = catTable[catClass] = (catTable[catClass] || []);
                // catPosts.push({elem: catElem});
            }
        }
    }

    // parse posts and their sections
    function parsePosts() {
        postList = document.getElementsByClassName("post");
        for(var i = 0; i < postList.length; i++) {
            var post = postList[i];
            var tagElems = post.getElementsByClassName("tag");
            for(var j = 0; j < tagElems.length; j++) {
                var tagElem = tagElems[j];
                sectionList.push(tagElem);
                if (tagElem && tagElem.classList && tagElem.classList.length >= 3) {
                    var tagClass = tagElem.classList[2];
                    // wrap in a function to circumvent hoisting
                    var generateClickFunction = function(tagParam) {
                        return function() {
                            //window.scrollTo(0, 0);
                            filterBy([tagParam], null);
                        };
                    };
                    tagElem.onclick = generateClickFunction(tagClass);
                    var tagPosts = tagTable[tagClass] = (tagTable[tagClass] || []);
                    tagPosts.push({post: post, elem: tagElem});
                }
            }
            var catElems = post.getElementsByClassName("category");
            for(var j = 0; j < catElems.length; j++) {
                var catElem = catElems[j];
                sectionList.push(catElem);
                if (catElem && catElem.classList && catElem.classList.length >= 3) {
                    var catClass = catElem.classList[2];
                    // wrap in a function to circumvent hoisting
                    var generateClickFunction = function(catParam) {
                        return function() {
                            //window.scrollTo(0, 0);
                            filterBy(null, [catParam]);
                        };
                    };
                    catElem.onclick = generateClickFunction(catClass);
                    var catPosts = catTable[catClass] = (catTable[catClass] || []);
                    catPosts.push({post: post, elem: catElem});
                }
            }
        }
    }

    function hideAllPosts() {
        for (var i = 0; i < postList.length; i++) {
            postList[i].style.display = "none";
        }
        for (var i = 0; i < sectionList.length; i++) {
            sectionList[i].classList.add("disabled");
        }
    }

    function filterBy(tags, categories) {
        hideAllPosts();
        if (tags && tagTable) {
            for ( var i = 0 ; i < tags.length; i++) {
                var tagData = tagTable[tags[i]];
                if (tagData) {
                    for(var j = 0; j < tagData.length; j++) {
                        var data = tagData[j];
                        data.elem.classList.remove("disabled");
                        if (data.post)
                            data.post.style.display = "initial";
                    }
                }
            }
        }
        if (categories && catTable) {
            for ( var i = 0 ; i < categories.length; i++) {
                var catData = catTable[categories[i]];
                if (catData) {
                    for(var j = 0; j < catData.length; j++) {
                        var data = catData[j];
                        data.elem.classList.remove("disabled");
                        if (data.post)
                            data.post.style.display = "initial";
                    }
                }
            }
        }
    }
</script>