---
layout: default
---

{% if paginator.previous_page %}
{% assign prevpage = paginator.previous_page | minus: 1 %}
{% assign prevpost = paginator.per_page | minus : 1 %}
{% assign prevpostindex = prevpage | times: paginator.per_page %}
{% assign prevpostindex = prevpostindex | plus: prevpost %}
{% else %}
{% assign prevpostindex = 0 %}
{% endif %}

{% if paginator.next_page %}
{% assign nextpostindex = paginator.next_page | minus: 1 %}
{% assign nextpostindex = nextpostindex | times: paginator.per_page %}
{% else %}
{% assign nextpostindex = paginator.total_posts | minus: 1 %}
{% endif %}

<script>
  var bookendPosts = {
    previousPost: {
      title: "{{site.posts[prevpostindex].title}}",
      date: new Date("{{site.posts[prevpostindex].date}}")
    },
    nextPost: {
      title: "{{site.posts[nextpostindex].title}}",
      date: new Date("{{site.posts[nextpostindex].date}}")
    }
  };
</script>

{% assign posts = paginator.posts %}
{% include posts.html posts = paginator.posts %}

<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ site.baseurl }}/" title="First" class="button hover">&#171;</a>
  <a href="{{ paginator.previous_page_path }}" title="Previous" class="button hover">&#8249;</a>
  {% else %}
  <span class="button disabled">&#171;</span>
  <span class="button disabled">&#8249;</span>
  {% endif %}
  {{paginator.page}} 
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" title="Next" class="button hover">&#8250;</a>
  <a href="{{ site.baseurl }}/{{ paginator.total_pages }}" title="Last" class="button hover">&#187;</a>
  {% else %}
  <span class="button disabled">&#8250;</span>
  <span class="button disabled">&#187;</span>
  {% endif %}
</div>

<script>
  window.addEventListener("load", function() {
    var searchForm = document.getElementById("search-form");
    if (searchForm) {
      searchForm.onsubmit = function() {
        var searchBar = document.getElementById("search-bar");
        if (searchBar && searchBar.value) {
          window.location.href = "{{site.baseurl}}/filter#{{site.search_prefix}}-" + searchBar.value;
        }
        return false;
      };
    }
  });
</script>