{% assign postDateInSeconds = post.date | date: "%s" %}
{% assign postModifiedDateInSeconds = post.modified_date | date: "%s" %}
<div class="date">
    <span title="Written on {{ post.date | date: "%B %e, %Y" }}{% if postDateInSeconds < postModifiedDateInSeconds %} and edited on {{ post.modified_date | date: "%B %e, %Y" }}{% endif %}">
        Last updated on {% if postDateInSeconds < postModifiedDateInSeconds %}<span class="strike">{% endif %}{{ post.date | date: "%B %e, %Y" }}{%if postDateInSeconds < postModifiedDateInSeconds %}</span> {{ post.modified_date | date: "%B %e, %Y" }}{% endif %}
    </span>
</div>