<div class="posts">
    {% for post in posts %}
      <article class="post" {% if postStyle %}style="{{postStyle}}"{% endif %}>
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <div class="date">
          Written on {% if post.modified_date %}<span class="strike">{% endif %}{{ post.date | date: "%B %e, %Y" }}{%if post.modified_date %}</span> {{ post.modified_date | date: "%B %e, %Y" }}{% endif %}
        </div>
        {% assign categories = post.categories %}
        {% assign tags = post.tags %}
        {% include taxonomies.html %}
        <hr />
        <div class="entry">
          {{ post.excerpt }}
        </div>
  
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more hover">Read More</a>
      </article>
    {% endfor %}
  </div>