{% for cat in categories %}
{% if cat != "" %}
<a href="{% unless localAnchor %}{{site.baseurl}}/filter{% endunless %}#{{site.category_prefix}}-{{cat | slugify}}" title="category: {{cat}}" class="category hover {{cat | slugify}}" data-slug="{{ cat | slugify }}"><img src="{{ site.baseurl }}/images/icons/{{cat | slugify}}.svg" />{{ cat }}</a>
{% endif %}
{% endfor %}
{% for tag in tags %}
{% if tag != "" %}
<a href="{% unless localAnchor %}{{site.baseurl}}/filter{% endunless %}#{{site.tag_prefix}}-{{tag | slugify}}" title="tag: {{tag}}" class="tag hover {{tag | slugify}}" data-slug="{{ tag | slugify }}"><img src="{{ site.baseurl }}/images/icons/tag.svg" />{{ tag }}</a>
{% endif %}
{% endfor %}