{% for cat in categories %}
{% if cat != "" %}
<a href="{% unless localAnchor %}{{site.baseurl}}/filter{% endunless %}#cat-{{cat | slugify}}" title="category: {{cat}}" class="category hover {{cat | slugify}}"><img src="{{ site.baseurl }}/images/icons/{{cat | slugify}}.svg" />{{ cat | slugify }}</a>
{% endif %}
{% endfor %}
{% for tag in tags %}
{% if tag != "" %}
<a href="{% unless localAnchor %}{{site.baseurl}}/filter{% endunless %}#tag-{{tag | slugify}}" title="tag: {{tag}}" class="tag hover {{tag | slugify}}"><img src="{{ site.baseurl }}/images/icons/tag.svg" />{{ tag | slugify }}</a>
{% endif %}
{% endfor %}