.links
    a
        fill #808080
        color #808080
        text-decoration none
        border none
        transition all .3s ease
        &.github:hover
            fill #333
        &.facebook:hover
            fill #3b5998
        &.twitter:hover
            fill #1da1f2
        &.medium:hover
            fill #00ab6c
        &.instagram:hover
            fill #e1306c
        &.linkedin:hover
            fill #0077b5