// Colors
primaryColor = #ffbc08
secondaryColor = #182e69 //#084bff //#ff0a16
primaryDark = #141414
accentDark = #ffffff
lightGray = #f2f2f2
texts = #333333
netflixRed = #ff0a16
links = #084bff

// Resolution
cut = 37.5rem
