---
layout: default
---

<article class="post">

  <h1>{{ page.title }}</h1>
  {% assign post = page %}
  {% include post-date.html %}
  {% assign categories = post.categories %}
  {% assign tags = post.tags %}
  {% include taxonomies.html %}
  <hr />
  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>

<script>
    window.addEventListener("load", function() {
      var searchForm = document.getElementById("search-form");
      if (searchForm) {
        searchForm.onsubmit = function() {
          var searchBar = document.getElementById("search-bar");
          if (searchBar && searchBar.value) {
            window.location.href = "{{site.baseurl}}/filter#search-" + searchBar.value;
          }
          return false;
        };
      }
    });
  </script>